<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel='stylesheet' href='css/jquery-ui/jquery-ui.css'>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id='header'>
            <h1>SavageGen</h1>
            <ul>
                <li><a href='#'>Character Generator</a></li>
                <li><a href='#about'>About</a></li>
            </ul>
        </div>
        <div id='container'>

        </div>
        <div id='footer'>

        </div>
        <!--<script src="js/vendor/jquery-1.10.2.min.js"></script>-->
        <script data-main='js/main' src='js/vendor/require.js'></script>
        <!--<script src="js/plugins.js"></script>-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>-->
            <!--(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=-->
            <!--function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;-->
            <!--e=o.createElement(i);r=o.getElementsByTagName(i)[0];-->
            <!--e.src='//www.google-analytics.com/analytics.js';-->
            <!--r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));-->
            <!--ga('create','UA-XXXXX-X');ga('send','pageview');-->
        <!--</script>-->
    </body>
    <script type='text/template' id='gen'>
        <div class='tabs'>
            <ul>
                <li><a href='#genrace'>Race</a></li>
                <li><a href='#genattributes'>Attributes</a></li>
                <li><a href='#genskills'>Skills</a></li>
                <li><a href='#genedges'>Edges & Hindrances</a></li>
            </ul>
            <div id='genrace'>
                <% var selectedRace = character.get('race');console.log('seletedRace:',selectedRace); %>
                <div class='race_choices'>
                    <% raceChoices.each(function(race){ %>
                    <input type='radio' name='racechoice' value="<%= race.get('id') %>" id="<%= 'racechoice_'+race.get('id') %>" <% if(selectedRace && selectedRace.get('id') == race.get('id')){ %>checked='checked'<% } %>/>
                    <label for="<%= 'racechoice_'+race.get('id') %>"><%= race.get('name') %></label>
                    <% }); %>
                </div>

                <div class='race_details'>
                    <% if(selectedRace){ %>
                    <div class='race_desc'>
                        <%= selectedRace.get('description') %>
                    </div>
                    <div class='race_traits'>
                        <% selectedRace.get('traits').each(function(trait){ %>
                            <div class='racial_trait' data-traitname="<%= trait.get('name') %>">
                                <h3 class='trait_name'><%= trait.get('name') %></h3>
                                <div class='trait_desc'>
                                    <%= trait.get('description') %>
                                </div>
                                <%
                                if(trait.get('diceUpgradeChoice')){ %>
                                <div class='dice_upgrade'>
                                    Choose an attribute to upgrade: <select name='dice_choice' <% if(character.get('savedRace')){ %> disabled='disabled' <%}%>>
                                <%
                                    _.each(attributeData, function(attribute){
                                    %>
                                        <option value="<%= attribute.id %>"
                                                <% if(character.get('diceUpgradeChoice') == attribute.id){
                                                %>selected='selected'<%}%>
                                        ><%= attribute.name %></option>
                                    <%
                                    });
                                %>
                                </select></div>
                                <% }
                                if(trait.get('userNotes')){%>
                                <div class='user_notes'>
                                    Power Source: <input name='user_notes' type='text' <%
                                    if(character.get('userNotes')[trait.get('name')]){
                                        var user_notes = character.get('userNotes')[trait.get('name')];
                                        console.log('has usernotes', user_notes);
                                    %>
                                    value="<%= character.get('userNotes')[trait.get('name')] %>"
                                    <% } %>
                                    <% if(character.get('savedRace')){ %>
                                    disabled='disabled'
                                    <%}%>
                                    />
                                </div>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                    <% if(!character.get('savedRace')){ %>
                    <div class='save_race'>
                        <button name='save_race' type='button'>Save Race</button>
                    </div>
                    <% } %>
                    <% } else { %>
                    Pick a race
                    <% } %>
                </div>
            </div>
            <div id='genattributes'>
                <div class='dice_list'>
                    You have <%= character.get('abilityPoints') - character.totalAbility() %> attribute points to spend.
                    <table class='attribute_dice'>
                        <% _.each(attributeData, function(attribute){ %>
                        <tr>
                            <th class='attribute_name'><%= attribute.name %></th>
                            <td class='dice_value'>
                                d<%= character.abilityValue(attribute.id) %>
                            </td>
                            <td class='decrease_attribute'>
                                <button class='decrease_attribute' data-attribute='<%= attribute.id %>'>Decrease</button>
                            </td>
                            <td class='increase_attribute'>
                                <button class='increase_attribute' data-attribute='<%= attribute.id %>'>Increase</button>
                            </td>
                        </tr>
                        <% }) %>
                    </table>
                </div>
            </div>
            <div id='genskills'>
                <div class='skill_choices'>
                    You have <%= character.get('skillPoints') - character.totalSkillsSpent() %> skill points remaining.
                    <table class='skill_choices'>
                        <tr>
                            <th class='skill_name'>Skill</th>
                            <th class='skill_attribute'>attribute</th>
                            <th class='skill_value'>Value</th>
                        </tr>
                        <% skillChoices.each(function(skill){ %>
                            <tr>
                                <th class='skill_name'><%= skill.get('name') %></th>
                                <td class='skill_attribute'>
                                    <%= skill.get('attribute')[0].toUpperCase() + skill.get('attribute').substr(1) %>
                                    (d<%= character.abilityValue(skill.get('attribute')) %>)
                                </td>
                                <td class='skill_value'>
                                    <%= character.skillValue(skill.get('id')) ? 'd'+character.skillValue(skill.get('id')).toString() : '' %></td>
                                <td class='increase_skill'>
                                    <button class='decrease_skill' data-skill="<%= skill.get('id') %>">Decrease</button>
                                </td>
                                <td class='decrease_skill'>
                                    <button class='increase_skill' data-skill="<%= skill.get('id') %>">Increase</button>
                                </td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
            <div id='genedges'>
                <div class='accordion'>
                    <h3>Edges</h3>
                    <div class='edges'>
                        <div class='edge_choices choice_scroll'>
                            <% edgeChoices.each(function(edge){ %>
                                <div class='edge_choice' ><a class="modal_link view_edge" data-edge="<%= edge.get('id') %>"><%= edge.get('name') %></a></div>
                            <% }); %>
                        </div>
                    </div>
                    <h3>Hindrances</h3>
                    <div class='hinds'>
                        <div class='hind_choices choice_scroll'>
                        </div>
                    </div>
                </div>
                <div class='current_trait'>
                    Pick a Hindrance/Edge
                </div>
            </div>
        </div>
    </script>
    <script type='text/template' id='edgetemplate'>
        <div class='available_edges'>
            You have <%= character.availableEdges() %> edge/s available.<br>
            You may take <%= character.availableHindrances().major %> major hindrance/s.<br>
            You may take <%= character.availableHindrances().minor %> minor hindrance/s.<br>
        </div>
        <% if(edge){ %>
            <h3><%= edge.get('name') %></h3>
            <div class='desc'><%= edge.get('desc') %></div>
            <div class='actions'>
                <button class='add_edge'>Add Edge</button>
            </div>
        <%} else if(hindrance){ %>
        <% } %>
    </script>
</html>
