<div id='gen'>
    <div class='tabs'>
        <ul>
            <li><a href='#genrace'>Race</a></li>
            <li><a href='#genabilities'>Abilities</a></li>
        </ul>
        <div id='genrace'>
            <ul class='race_choice'>
                <% raceChoices.each(function(race){ %>
                <li>
                    <a class='pick_race modal_link' data-race="<%= race.get('id') %>"><%= race.get('name') %></a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div id='genabilities'>
            Abilities
        </div>
    </div>
</div>